@import "setup.scss";

//font variables
$white: #fff;
$heading-font: "Domine", serif;
$body-font: "Roboto", sans-serif;

html {
  font-size: 62.5%;
  font-family: $body-font;
}

body {
  background-color: #e6e6e6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(176,714,464)'%3E%3Cstop offset='0' stop-color='%23e6e6e6'/%3E%3Cstop offset='1' stop-color='%233cb0ff'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='1507' height='1255.8' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.11'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

h1 {
  margin: 0;
  color: #fca311;
  font-size: 6rem;
  color: #e5e5e5;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

h2 {
  color: #14213d;
  font-size: 3.6rem;
  font-family: $heading-font;
}

.headerFlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  // TODO: figure out how to make fixed and scroll nicely
  h1 {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-family: $heading-font;
    letter-spacing: 5px;
    line-height: 80px;
  }
  .subHeader {
      font-size: 2.4rem;
      color: #14213d;
      width: 80%;
      margin: 0 auto;
      text-align: center;
  }
  .container {
    background: rgba(128, 123, 123, 0.8);
    color: #e6e6e6;
    width: calc(100% / 2 - 40px);
    font-size: 2rem;
    margin-top: 100px;
    padding: 50px;
    box-shadow: 20px 20px 10px rgba(20, 33, 61, 0.7);
    ul {
      padding: 10px 0 10px 20px;
      list-style: disc;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      li {
        padding: 5px 0;
        color: #e6e6e6;
      }
    }
    button {
      width: 70%;
      padding: 20px 0;
      background-color: rgb(20, 33, 61);
      color: #e6e6e6;
    }
  }
  .container:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

button {
  font-size: 2rem;
  padding: 10px 0;
  width: 100%;
  border: none;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}

//main section
main {
  height: 100vh;
  .container {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    h2 {
      font-size: 6rem;
      width: 80%;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 3rem;
      text-align: center;
    }
    form {
      margin: 0 auto;
      width: 90%;
      text-align: center;
      padding: 10px 0;
      font-size: 1.8rem;
      fieldset {
          border: none;
          display: inline-block;
      }
    }
    .btnStartOver {
      width: 30%;
      display: block;
      margin: 0 auto;
      background-color: #14213d;
      color: #e5e5e5;
  }
  }
}

//styles for the type selectors, using correct pokemon colours
.typeSelector {
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  padding: 50px 0;
  button {
    color: $white;
    &:hover {
      transform: scale(1.2);
      transition: all 0.5s;
    }
  }
  
}

// styles for the list after everything has been added and appended with jquery.
.listPostChoice {
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  // user choice display styles
  .listUserChoice {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
      width: 50%;
      margin: 20px auto;
      padding: 20px 0;
      box-shadow: 0px 0px 5px 5px rgba(102, 102, 102, 0.185);
    }
  }
  // list multipliers/information displayed styles. Retrieved with jquery.
  .listTypeMultiplier {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 10px 10px 5px rgba(68, 66, 66, 0.4);
    transform: scale(1);
    transition: all 0.6s;
    p {
      margin: 10px 0;
    }
    p:last-child {
      text-align: center;
      border: 2px solid darkgrey;
      padding: 10px 0;
    }
    &:hover {
      transform: scale(1.1);
      box-shadow: 12px 12px 5px rgba(68, 66, 66, 0.4);
    }
    div {
      padding: 20px;
    }
  }
  
  button:hover {
    transform: none;
  }
}

@media (max-width: 1200px) {
  .listPostChoice {
    grid-template-columns: repeat(4, 1fr);
    .listUserChoice {
      grid-column: span 4;
    }
  }
}

@media (max-width: 875px) {
  main .container {
    padding: 20px;
  }
  .typeSelector {
    font-size: 1.6rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .listPostChoice {
    grid-template-columns: repeat(3, 1fr);
    .listUserChoice {
      grid-column: span 3;
    }
  }
}

@media (max-width: 760px) {
  .headerFlexContainer {
    flex-direction: column;
    margin-bottom: 100px;
    h1 {
      font-size: 5rem;
      width: 100%;
      line-height: 60px;
    }
    .container {
      width: 100%;
      margin-top: 50px;
      padding: 20px;
      ul {
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .container:last-child {
        h2,
        p,
        button {
            padding: 10px 0;
        }
    }
  }
  .typeSelector {
    font-size: 1.6rem;
  }
  .listPostChoice {
    grid-template-columns: repeat(2, 1fr);
    .listUserChoice {
      grid-column: span 2;
    }
  }
}

@media (max-width: 475px) {
  .wrapper {
    width: 95%;
  }
  main .container {
    h2 {
      font-size: 4rem;
      width: 100%;
    }
    h3 {
      font-size: 2rem;
    }
  }
  .typeSelector {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 25px 0;
  }
  .listPostChoice {
    grid-template-columns: 1fr;
    gap: 20px;
    .listUserChoice {
      grid-column: span 1;
    }
  }
}
