@import "setup.scss";

//font variables
$white: #fff;
$main-font: 'Montserrat', sans-serif;

html {
  font-size: 62.5%;
  font-family: $main-font;
}

body {
  background-image: linear-gradient(to bottom, #a2c0ec, #acc0e8, #b4bfe3, #bbc0df, #c0c0da);
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: $white;
}

h1 {
  margin: 0;
  color: $white;
  font-size: 6rem;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.headerFlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  // TODO: figure out how to make fixed and scroll nicely
  h1 {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
  }
  .container {
    width: calc(100% / 2 - 40px);
    font-size: 2rem;
    margin-top: 100px;
    border: 1px solid #fff;
    padding: 20px;
    ul {
      padding-left: 20px;
    }
  }
}

//main section
main {
  height: 100vh;
  .container {
    padding: 50px 0;
    h2 {
      font-size: 6rem;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
    h3 {
      font-size: 3rem;
    }

  }
}
//styles for the type selectors, using correct pokemon colours

.typeSelector {
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  padding: 200px 0;
  button {
      padding: 10px 0;
      width: 100%;
      color: $white;
      border: none;
      &:hover {
        transform: scale(1.2);
      }
    }
}

.listPostChoice {
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  .listUserChoice {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
    button {
      width: 75%;
    }
  }
  .listTypeMultiplier {
    width: 100%;
    background: rgba(255,255,255,0.2);
    div {
      padding: 20px;
    }
  }
}
